In [8]:
# def 함수(x):
#     return d.get(x)

d = {
      'test1': 101,
      'test2': 2220,
      'test3': 3222221,
      'test4': 111,
}

# max(d, key=lambda x: d[x])
max(d, key=len)

'test1'

In [10]:
def 함수(x):
    return d.get(x)

수학 = {
    '학생1': 10,
    '학생2': 20,
    '학생3': 31,
    '학생4': 11,
    '학생5': 10,
    '학생6': 5
}

과학 = {
    '학생1': 11,
    '학생2': 17,
    '학생3': 13,
    '학생4': 11,
    '학생5': 25,
    '학생6': 100,
}

수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)

'학생6'

In [20]:
# 지금하는 것은 위 보다 빈도도 거의 없습니다.
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건1일 False이고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 False일 때'

x = 10
result = '2x' if x % 2 == 0 else '3x' if x % 3 == 0 else '?'
result

'2x'