## 연습문제
 https://school.programmers.co.kr/learn/courses/30/lessons/120864

In [ ]:
# 1 findall로 숫자만 뽑아내기

import re 

s = "aAb1B2cC34oOp"
result = sum(map(int, re.findall('\d+', s)))

result

37

In [ ]:
# 2 sub로 문자를 +로 바꾼 후 eval('1+1++++1')

import re
# "aAb1B2cC34oOp"
s = "aAb1B2cC34"
result = re.sub('[a-zA-Z]', '+', s)
eval(result)

37

In [ ]:
# 3 split 모든 문자[a-zA-Z]기준으로 split을 해서 sum

import re

s= 'aAb1B2cC34oOp'
intlist = re.split('[a-zA-Z]', s)

intlist

['', '', '', '1', '2', '', '34', '', '', '']

## 연습문제 2.
https://school.programmers.co.kr/learn/courses/30/lessons/120956

In [ ]:
import re 

p = ["aya", "ye", "woo", "ma"]
for i in

* 순열과 조합이 쓰이는 문제는 '완전 탐색' 문제에서 주로 사용이 됩니다. 아래와 같은 문제도 '완전 탐색'으로 손쉽게 풀 수 있습니다. 단, 효율이 좋지는 않습니다.

* https://school.programmers.co.kr/learn/courses/30/lessons/120956

In [6]:
#순열 : 순서를 정해서 나열 (nPr)

from itertools import permutations

# list(permutations([1, 2, 3, 4], 2))+\
# list(permutations([1, 2, 3, 4], 3))+\
# list(permutations([1, 2, 3, 4], 4)) 

# list(permutations(range(1,5), 2))
# list(permutations('hello', 2))

[(1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3)]

In [8]:
순열 = list(permutations(["aya", "ye", "woo", "ma"], 1)) +\
list(permutations(["aya", "ye", "woo", "ma"], 2)) +\
list(permutations(["aya", "ye", "woo", "ma"], 3)) +\
list(permutations(["aya", "ye", "woo", "ma"], 4))

순열집합 = []

for i in 순열:
  순열집합.append(''.join(i))

count = 0
for i in ["ayaye", "uuuma", "ye", "yemawoo", "ayaa"]:
  if i in 순열집합:
    count += 1

count

3

In [11]:
# 정규표현식으로 풀이

import re

def solution(babbling):
    count = 0
    p = ["aya", "ye", "woo", "ma"]
    for i in babbling:
        print('------------')
        print(i)
        for pattern in p:
            i = re.sub(pattern, ' ', i)
            print(i)
        if i.replace(' ', '') == '':
            count += 1
    return count

solution(["aya", "yee", "u", "maa", "wyeoo"])

------------
aya




------------
yee
yee
 e
 e
 e
------------
u
u
u
u
u
------------
maa
maa
maa
maa
 a
------------
wyeoo
wyeoo
w oo
w oo
w oo

1

## # 조합 : 순서를 정하지않고 나열한다 (nCr)

In [10]:
from itertools import combinations

list(combinations([1, 2, 3, 4], 2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]